@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Inria Sans", sans-serif;
  }

  main {
    @apply flex flex-col items-center;
  }

  #background {
    background-image: url("assets/background.png");
    @apply bg-cover bg-no-repeat bg-top fixed inset-0 -z-50;
  }
}

@layer components {
  /** <- Reusable -> **/
  .card {
    @apply bg-main-white-dark p-2 rounded-xl;
  }
  /** <- Header -> **/
  #header {
    @apply w-full mt-6 mb-12 flex justify-center items-center;
  }
  #header h1 {
    font-family: "Roboto Slab", serif;
    @apply font-medium text-8xl bg-gradient-to-r from-main-orange-base to-main-orange-light text-opacity-0 text-transparent bg-clip-text;
  }
  #header img {
    @apply w-32;
  }

  /** <- Main Question -> **/
}
