@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Inria Sans", sans-serif;
    box-sizing: border-box;
  }

  main {
    @apply flex flex-col items-center w-full px-10 md:px-0 md:w-[600px] lg:w-[900px] mx-auto mb-5;
  }
  footer {
    @apply px-2 py-1 mt-auto text-white bg-black bg-opacity-20 text-opacity-80;
  }
  input,
  select {
    @apply cursor-pointer;
  }
  #background {
    background-image: url("assets/background.png");
    @apply fixed inset-0 bg-top bg-no-repeat bg-cover -z-50;
  }
}

@layer components {
  /** <- Common Components -> **/
  .card {
    @apply p-2 bg-main-white-dark rounded-xl drop-shadow-main-base;
  }
  .bouncy-button {
    @apply hover:-mt-[2px] hover:mb-[2px] active:-mb-[2px] active:mt-[2px] transition-all ease-bounce-end;
  }
  .setting-button {
    @apply absolute flex items-center justify-center transition-all duration-300 origin-center top-2 right-3 hover:rotate-90 hover:scale-110 active:scale-95 active:opacity-90 active:rotate-90 ease-bounce-end;
  }
  .close_dialog {
    @apply absolute text-2xl leading-none text-center duration-300 origin-center w-fit h-fit top-2 right-3 hover:scale-110 active:scale-95 active:opacity-90 ease-bounce-end;
  }

  /** <- Setting Styling -> **/
  .setting-dialog {
    @apply p-0 outline-none w-5/6 md:w-[500px] lg:w-[750px] animate-fade-up;
  }
  .setting-dialog h2 {
    @apply w-full px-2 py-3 text-4xl font-bold text-center bg-main-white-base;
  }
  .setting-main {
    @apply px-10 py-4;
  }
  .setting-main section {
    @apply flex flex-col border-t-2 border-black;
  }
  .setting-main section h3 {
    @apply text-2xl font-bold;
  }

  .setting-option {
    @apply grid grid-cols-[8rem_9rem] m-1;
  }
  .setting-option > label {
    @apply text-lg font-medium;
  }
  .setting-option input {
    @apply drop-shadow-md;
  }
  .setting-option input[type="number"] {
    @apply px-2 text-lg font-semibold border-2 rounded-full outline-none border-main-orange-vibrant bg-main-white-base;
  }
  .setting-option select {
    @apply px-2 text-lg font-medium rounded-full bg-main-orange-vibrant outline-main-orange-base;
  }

  .setting-action {
    @apply flex w-full p-2 bg-main-white-base drop-shadow-top;
  }
  .setting-action h3 {
    @apply flex items-center justify-center flex-1;
  }
  .setting-action button {
    @apply px-3 py-1 mx-1 rounded-full;
  }

  /** <- Header -> **/
  #header {
    @apply flex items-center justify-center w-full mt-2 mb-7;
  }
  #header h1 {
    font-family: "Roboto Slab", serif;
    @apply font-medium text-transparent text-opacity-0 text-8xl bg-gradient-to-r from-main-orange-base to-main-orange-vibrant bg-clip-text;
  }
  #header img {
    @apply w-32;
  }

  /** <- Main Quiz -> **/
  .quiz-div {
    @apply w-full p-0;
  }

  .question-display {
    @apply px-3 pt-5 text-5xl font-bold text-center bg-main-white-base;
  }
  .answer-div {
    @apply flex flex-col items-center justify-center w-auto mx-10 my-3;
  }

  progress {
    @apply rounded-full bg-main-orange-light w-[90%];
  }
  progress::-webkit-progress-bar {
    @apply rounded-full bg-main-orange-light w-[90%];
  }
  progress::-webkit-progress-value {
    background-image: repeating-linear-gradient(
      45deg,
      #ffbf18 2px,
      #eeae0e 50px,
      #eeae0e 70px,
      #ffbf18 72px
    );
    @apply rounded-full;
  }
  progress::-moz-progress-bar {
    background-image: repeating-linear-gradient(
      45deg,
      #ffbf18 2px,
      #eeae0e 50px,
      #eeae0e 70px,
      #ffbf18 72px
    );
    @apply rounded-full;
  }

  .choices {
    @apply grid w-full gap-2 p-2 mt-2 md:grid-rows-2 md:grid-cols-2;
  }
  .choice-elem {
    @apply text-4xl bg-main-white-base transition-all hover:drop-shadow-main-darker ease-bounce-end hover:-mt-0.5 hover:mb-0.5 active:mt-0.5 active:-mb-0.5 active:ease-linear active:duration-75;
  }

  .quiz-header {
    @apply absolute w-1/5 text-4xl font-bold text-center text-white -translate-x-1/2 bg-main-orange-vibrant -top-9 left-1/2 drop-shadow-sm;
  }

  /** <- Finished Section -> **/
  .finished-section {
    @apply flex flex-col items-center w-full gap-2;
  }

  /* Congratulation Section */
  .congratulation-section {
    @apply flex flex-col items-center w-11/12 p-0 animate-fade-up;
  }
  .congratulation-section > h2,
  .answer-report > h2 {
    @apply w-full pt-12 pb-5 text-6xl font-bold text-center rounded-xl bg-main-white-base drop-shadow-main-base;
  }
  .congratulation-section > p {
    @apply py-4 text-2xl text-center;
  }
  .congratulation-section > span {
    @apply absolute w-[100px] text-white -translate-x-1/2 border-main-orange-vibrant border-4 rounded-full p-2 bg-gradient-to-b from-main-white-base to-main-white-dark -top-12 left-1/2 drop-shadow-xl;
  }
  .congratulation-section > .redo {
    @apply m-auto mb-4 text-2xl transition-all duration-75 ease-out px-7 bg-main-white-base hover:scale-95 active:scale-90 active:opacity-70;
  }
  /* Answer Section */

  .answer-report {
    animation-delay: 100ms !important;
    @apply flex flex-col items-center w-full p-0 animate-fade-up;
  }
  .answer-report > h2 {
    @apply !pt-5 text-5xl;
  }

  .data-div {
    @apply flex items-center justify-center w-11/12 gap-6 m-2;
  }
  .data-elem {
    @apply flex flex-col items-center justify-center bg-main-white-base;
  }
  .data-elem h3 {
    @apply text-4xl font-bold;
  }
  .data-elem p:first-of-type {
    @apply text-2xl font-bold;
  }
  .data-elem p:last-of-type {
    @apply text-lg;
  }
}
